<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.losemy.data.dao.demo.OrderOldDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="OrderOldDO">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="order_id" property="orderId" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, order_id, remark, create_time, update_time
    </sql>

    <select id="findByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order u
        where u.id >= #{lastId} order by u.id asc limit #{pageSize}
    </select>

    <select id="findByPageAndMaxId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order u
        where <![CDATA[ u.id >= #{lastId}  ]]> and
        <![CDATA[ u.id < #{maxId}  ]]>
        order by u.id asc limit #{pageSize}
    </select>

    <select id="maxId" resultType="java.lang.Long">
        select max(id) from t_order
    </select>

    <select id="selectByRandom" resultMap="BaseResultMap">
        SELECT * FROM t_order
        WHERE id >= (SELECT floor( RAND() * ((SELECT MAX(id) FROM t_order)-(SELECT MIN(id) FROM t_order)) + (SELECT MIN(id) FROM t_order)))
        ORDER BY id LIMIT 10
    </select>

    <select id="findByUserIdAndOrderId" resultType="java.lang.Integer">
        select
        count(u.id)
        from t_order u
        where u.user_id = #{userId}
        and u.order_id = #{orderId}
    </select>


</mapper>
